---
import fs from 'node:fs';
// import {Image} from 'astro:assets'
import { dirname, resolve } from 'node:path';
import { fileURLToPath } from 'node:url';
import DefaultLayout from '../layouts/Default.astro';

const __dirname = dirname(fileURLToPath(import.meta.url));
const imagesPath = resolve(__dirname, '../../public/images/');
const files = fs.readdirSync(imagesPath);

type ImageInfo = {
	name: string;
	url: string;
};
const imageInfos: ImageInfo[] = files.map((file: string) => {
	return {
		name: file,
		url: `/images/${file}`,
	};
});
---

<style>
	body {
		height: 100svh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	main {
		max-width: 300px;
		margin: 0 auto;
	}
	figure {
		display: flex;
		flex-direction: row;
		align-items: start;
	}
	figcaption {
		font-size: 0.8rem;
		margin-left: auto;
		display: flex;
		gap: 0.5rem;
	}
	figure img {
		max-width: 100%;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		margin-bottom: 1rem;
	}
	input {
		width: 100%;
		margin-left: auto;
		border-radius: 0;
		border: 1px solid #007bff;
		padding: 0.5rem;
	}
	button {
		background-color: #007bff;
		color: white;
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		width: 80px;
	}
	.image-wrapper {
		width: 100px;
		min-height: 50px;
		overflow: hidden;
	}
</style>
<DefaultLayout title="Assets">
	<main>
		<ul class="images">
			{
				imageInfos.map(({ name, url }) => (
					<li>
						<figure>
							<div class="image-wrapper">
								<img src={`/images/${name}`} alt={name} />
							</div>
							<figcaption>
								<input
									type="text"
									name=""
									id={name}
									value={url}
									autocomplete="off"
								/>{' '}
								<button data-image-url={url}>copy</button>
							</figcaption>
						</figure>
					</li>
				))
			}
		</ul>
	</main>
	<script is:inline>
		document.addEventListener('DOMContentLoaded', () => {
			console.log('Hello from inline script');
			const host = window.location.host;
			const protocol = window.location.protocol;

			const figcaptions = document.querySelectorAll('figcaption');
			if (!figcaptions) throw new Error('No figcaptions found');
			figcaptions.forEach((figcaption) => {
				const buttons = figcaption.querySelectorAll('button');
				if (!buttons) throw new Error('No buttons found');
				buttons.forEach((button) => {
					const url = button.getAttribute('data-image-url');
					button.setAttribute('data-image-url', `${protocol}//${host}${url}`);
					button.addEventListener('click', () => {
						navigator.clipboard.writeText(
							button.getAttribute('data-image-url'),
						);
						setTimeout(() => {
							button.textContent = 'copied';
							setTimeout(() => {
								button.textContent = 'copy';
							}, 1000);
						}, 10);
					});
				});

				const input = figcaption.querySelector('input');
				if (!input) throw new Error('No input found');
				const url = input.value;
				input.value = `${protocol}//${host}${url}`;

				input.addEventListener('click', () => {
					input.select();

					navigator.clipboard.writeText(input.value);
				});
			});
		});
	</script>
</DefaultLayout>
